.open-button {

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 221px;
  z-index: 99;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #FFFFFF;
border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  padding:10px;
}


/* Set a style for the submit/login button */
.form-container .btn {

  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
color:red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}